**/.ipynb_checkpoints
**/__pycache__
data/
*.json
*.params
*.DS_Store
*.csv
*egg-info*
dist*
_build/
test*.md
run.sh
.idea
env
.mdbook/
.mdbook-zh/
.mdbook-zh-test/
.mdbook-bin/
.mdbook-v1/
.mdbook-v1-zh/
.mdbook-v2/
.mdbook-v2-zh/
task_plan.md
findings.md
progress.md
d2l-book/
docs/
en_chapters/img
en_chapters/references
en_chapters/static
en_chapters/mlsys.bib
zh_chapters/img
zh_chapters/references
zh_chapters/static
zh_chapters/mlsys.bib
v1/en_chapters/img
v1/en_chapters/references
v1/en_chapters/static
v1/en_chapters/mlsys.bib
v1/zh_chapters/img
v1/zh_chapters/references
v1/zh_chapters/static
v1/zh_chapters/mlsys.bib
v2/en_chapters/img
v2/en_chapters/references
v2/en_chapters/static
v2/en_chapters/mlsys.bib
v2/zh_chapters/img
v2/zh_chapters/references
v2/zh_chapters/static
v2/zh_chapters/mlsys.bib
